.flex-4 {
  box-shadow: 0px 0px 12px rgb(0 0 0 /8%);
  border-radius: 25px;
  width: 1150px;
  height: 1000px;
  justify-content: center;
  margin-top: 100px;
}
.title-1 {
  font-size: 22px;
  line-height: normal;
  font-weight: 900;
  margin-left: 40px;
  margin-top: 30px;
}
.the-footer {
  display: flex;
  justify-content: center;
}
.flex-5 {
  display: flex;
}
.section-1 {
  margin-left: 37px;
  display: flex;
}
.icon-check {
  height: 40px;
  width: 40px;
}
.title-2 {
  font-weight: bold;
  font-size: 18px;
}
.title-3 {
  width: 300px;
  font-size: 16px;
}
.title-4 {
  display: flex;
  font-size: 18px;
  color: blue;
}
.icon-left {
  margin-top: 3px;
  margin-left: 5px;
}

.title-5 {
  font-weight: bold;
  font-size: 18px;
}
.title-6 {
  width: 300px;
  font-size: 16px;
}
.title-7 {
  font-size: 18px;
  color: blue;
  margin-top: -px;
  display: flex;
}
.icon-left-1 {
  margin-top: 4px;
  margin-left: 5px;
}
.icon-tranf {
  height: 40px;
  width: 37px;
}
.section-tranf {
  margin-left: 350px;
  margin-top: -267px;
}
.img-footer-section-1 {
  margin-top: -382px;
  margin-left: 761px;
}
.footer-section-1 {
  border-radius: 0px 25px 25px 0px;
  height: 1000px;
  width: 400px;
}
.duongngang {
  width: 700px;
  margin-left: 30px;
  opacity: 10px;
  margin-top: 30px;
}
.duongngang1 {
  opacity: 30%;
  color: rgba(179, 179, 179, 0.08);
}
.section-inf-1 {
  margin-top: -600px;
  margin-left: 38px;
}
.icon-inf {
  width: 40px;
  height: 40px;
}
.title-8 {
  font-size: 18px;
  font-weight: bold;
}
.section-hotline {
  border-radius: 25px;
  width: 330px;
  height: 50px;
  margin-top: 30px;
  box-shadow: 0px 0px 12px rgb(0 0 0 /8%);
}
.icon-phone {
  margin-top: 13px;
  margin-left: 20px;
  color: blue;
}
.title-phone {
  margin-top: -34px;
  margin-left: 60px;
  font-size: 18px;
  font-weight: bold;
}
.section-all {
  border-radius: 25px;
  width: 330px;
  height: 50px;
  margin-top: 30px;
  margin-left: 370px;
  box-shadow: 0px 0px 12px rgb(0 0 0 /8%);
}
.icon-all {
  margin-top: 13px;
  margin-left: 20px;
  color: blue;
}
.title-all {
  margin-top: -34px;
  margin-left: 60px;
  font-size: 18px;
  font-weight: bold;
}
.section-all-1 {
  margin-top: -240px;
}
.section-hi {
  margin-top: 20px;
  margin-left: 38px;
}
.icon-hi {
  width: 40px;
  height: 40px;
}
.title-9 {
  font-size: 18px;
  font-weight: bold;
}
.section-2 {
  margin-left: 30px;
  display: flex;
}
.facebook {
  border-radius: 15px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 170px;
  margin-left: 10px;
}
.icon-youtube {
  color: red;
  margin-top: 18px;
  height: 40px;
  width: 35px;

  margin-left: 10px;
}
.icon-facebook {
  margin-top: 18px;
  height: 40px;
  width: 35px;
  color: blue;
  margin-left: 10px;
}
.title-all-1 {
  font-weight: bold;
  font-size: 20px;
  margin-top: -40px;
  margin-left: 58px;
}
.flex-6 {
  box-shadow: 0px 0px 12px rgb(0 0 0 /8%);
  border-radius: 25px;
  width: 1150px;
  height: 300px;
  justify-content: center;
  margin-top: 100px;
}
.logo {
  margin-left: 50px;
}
.edit-since {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  margin-top: -40px;
  margin-left: 48px;
}
.section-about-1 {
  display: flex;
  font-size: 18px;
  font-weight: bolder;
}
.vechungtoi {
  margin-left: 70px;
  color: rgb(22, 108, 238);
}
.section-about-3 {
  display: flex;
  font-size: 18px;
  font-weight: bolder;
}
.section-about-3 {
  margin-top: 30px;
  color: rgb(22, 108, 238);
}
.vechungtoi1 {
  margin-left: 120px;
}
.bocongthuong {
  height: 30px;
  width: 130px;
  margin-left: 91px;
}
.footer-end {
  height: 200px;
  width: 550px;
  margin-left: 600px;
  margin-top: -200px;
}
