.container-1 {
  justify-content: center;
}
.container-2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.container-3 {
  height: 400px;
  width: 880px;
  border-radius: 15px;
}
.boder-1 {
  border-radius: 15px;
  height: 120px;
  width: 220px;
  margin-left: 20px;
  box-shadow: 0px 0px 12px rgb(0 0 0 /8%);
  margin-top: 20px;
}
.hinh-body {
  width: 880px;
  height: 400px;
}
.container-4 {
  margin-top: -20px;
}
.title-boder {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-top: 20px;
}
.title-boder-1 {
  font-size: 13px;
  margin-left: 5px;
}
.container-5 {
  text-align: center;
  margin-top: 40px;
}
.title-container-6 {
  margin-right: 978px;
  font-size: 22px;
  font-weight: bolder;
}
.hinh10 {
  width: 1125px;
  height: 150px;
  border-radius: 15px;
}
.hinh11 {
  width: 140px;
  height: 100px;
  margin-left: 10px;
  border-radius: 15px;
}
.title-container-7 {
  margin-right: 920px;
  font-size: 22px;
  font-weight: bolder;
}
.container-7 {
  text-align: center;
  margin-top: 40px;
}
.hinh {
  width: 90px;
  height: 70px;
  margin-top: 11px;
}

.container-8 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-right: 25px;
}
.img-bolder {
  margin-left: 27px;
  box-shadow: 0px 0px 12px rgb(0 0 0 /8%);

  border-radius: 15px;
  width: 140px;
  height: 100px;
}
.hinh14 {
  height: 67px;
  width: 70px;
  margin-top: 12px;
}
.hinh15 {
  height: 100px;
  width: 140px;
  margin-right: 70px;
  margin-top: -3px;
}
.hinh16 {
  height: 70px;
  width: 120px;
  margin-left: 2px;
  margin-top: 13px;
}
.hinh17 {
  height: 67px;
  width: 70px;
  margin-top: 15px;
}
.test-open {
  cursor: pointer;
}
